* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    min-height: 100vh;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "YOPQ" 300;
}

body::after {
    content: "";
    position: absolute;
    background: url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 90vw;
    border-radius: 25px;
    padding: 40px;
    margin-top: 200px;
    box-shadow: 2px 5px 25px var(--very-dark-grayish-blue);
}

.hero {
    width: 80vw;
    filter: drop-shadow(1px 40px 1px #af67e91f);
    z-index: 999;
    margin-top: -200px;
}

.content-container {
    width: 100%;
}

.container h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 3rem;
    color: var(--very-dark-desaturated-blue);
}

.content {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-grayish-blue);
}

.title-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.title {
    margin-top: 30px;
    display: inline-block;
    font-weight: 300;
    width: 80%;
    font-size: 1.1rem;
}

.title:hover {
    cursor: pointer;
    color: var(--soft-red);
}

.content p {
    margin-top: 20px;
    color: var(--very-dark-grayish-blue);
    width: 90%;
    font-size: 1.2rem;
    line-height: 1.7;
}

.active {
    color: var(--very-dark-desaturated-blue);
    font-weight: 500;
}

.hide {
    display: none;
}

.arrow-down {
    margin-right: 20px;
}

.arrow-up {
    transform: rotate(180deg);
}

.attribution {
    margin-top: 50px;
}

@media screen and (min-width:940px) {
    body::after {
        content: "";
        position: absolute;
        background: url(../images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .container {
        flex-direction: row;
        width: 80vw;
        gap: 30px;
        align-items: center;
        margin: 0;
    }

    .content-container {
        width: 45vw;
    }

    .hero {
        width: 100%;
        transform: translateX(-100px);
        position: static;
        align-self: center;
        margin-top: 0;
        filter: drop-shadow(0px 102px 2px #af67e91f);
        z-index: 1;
    } 
    
    picture {
        position: relative;
        width: 500px;
        height: 421px;
    } 
    
    picture source::after {
        content: "";
        background: url(../images/illustration-box-desktop.svg);
        position: absolute;
        width: 150px;
        height: 150px;
        z-index: 999;
        background-repeat: no-repeat;
        top: 120px;
        left: -180px;
    }

    .container h1 {
        margin: 0;
        text-align: start !important;
    }

    .title-content {
        align-items: center;
    }
}

@media screen and (min-width:1300px) {

    .container {
        max-width: 1000px;
    }


    .content-container {
        width: 400px;
    }
}